<% if can? :manage, Comment %>
	<b><%= t('comment.new')%></b><br/>
	
	<% form_for [ comment_subject, Comment.new] do |f| %>
	
	    <textarea cols="39" id="comment_body" name="comment[body]" rows="3"></textarea>
	
	  <p><%= f.submit t('admin.save') %></p>
	<% end %>
<%end%>