<% content_for :page_title do %>
<title><%= title %></title>
<%end%>

<% content_for :meta_description do %>
<meta name="description" content="<%= meta_description %>" /> 
<%end%>

<% content_for :meta_keywords do %>
<meta name="keywords" content="<%= meta_keywords %>" /> 
<%end%>
