
// define fonts from design_parts
@mixin font-header($size: 18px) {
//  font: $size 'KontrapunktBold', Arial, sans-serif;
	font: $size 'DINProBlack', Times, sans-serif;
 /* font: bold, $size 'dinpro', Arial, sans-serif;*/
}

@mixin font-plain($size: 13px, $bold: normal) {
  //font: $bold $size 'dinpro' ,Arial, sans-serif;
	font: $size 'DINProRegular', Arial, sans-serif;
}

@mixin font-links($size: 18px) {
  font: $size 'DINProBlack', Arial, sans-serif;
}

@mixin link-font {
  @include font-plain(12px);
}