/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require kontrapunkt
 *= require normalize
 *= require clearfix
 *= require grid
 *= require_self
 * require_tree . 
 *= require_directory . 
*/

@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "partials/color";
@import "partials/font";
@import "partials/dimentions";
@import "partials/fancy-buttons";


body{
  margin:0px;
  @include font-plain;
}

// set link color
a, a:hover, a:active, a:visited, a:link {
  //@include link-font;
  color: $link-color;
  text-decoration: none;
  &.fancy {
		@include fancy-button($template-color-base, 14px 0.5em);
	}
}
p{
	margin:0px;
}

.light-links{
	a, a:hover, a:active, a:visited, a:link {
	  margin-right:5px;
		padding:3px;
		@include border-radius(3px, 3px);
	}
}

a:hover{
	
	background-color:$color_light_gray;
}

hr{
	height:1px;
	border: 0;
	color:#d8d8d8;
	background-color:#d8d8d8;
}

.banner { 
	min-height:190px;
/*	background-color:#f00;*/
}

/* JCrop preview */
.preview {
    width:100px;
    height:100px;
    overflow:hidden;
}


.row-flip
{
	background-color:#ddd;
}

.row-flop
{
	background-color:#ccc;
}

.sort-list-header {
	background-color:#aaa;
	color:#000;
	.asc {
		padding-right:20px;
		background-image:url('arrow_down.png');
		background-repeat:no-repeat;
		background-color:transparent;
		background-position:right top;
	}
	.desc {
		padding-right:20px;
		background-image:url('arrow_up.png');
		background-repeat:no-repeat;
		background-color:transparent;
		background-position:right top;
	}
}

/* FIXME where is this used? 
.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
*/

.edit{
	text-align:right;
}

.notice{
	color:#0a0;
	background-color:#efe;
	@include border-radius(5px, 5px);
	border-style:solid;
	border-width:1px;
	border-color:#888;
  min-height:32px;
	margin-top:70px;
	.message{
	  margin:8px;
	}
	
}
.alert{	
	color:#e00;
	background-color:#fee;
	@include border-radius(5px, 5px);
	border-style:solid;
	border-width:1px;
	border-color:#888;
    min-height:32px;
	.message{
	  margin:8px;
	}
}


.field{
	@include input_top_margin;
}

.label{
	@include input_top_margin;
}


.headline { 
	@include template-color; @include font-header; 
	h1{ 
		margin:8px 0px 8px 0px;
	}
}

h2 { 
	@include template-color($header_color, 100); 
	@include font-header(16px); 
	margin:8px 0px 8px 0px;
}

.body-color{ @include body-color($color_white, 100);}
.content-color{ @include content-color($color_white, 100);}

.top-margin{
	margin-top:8px;
}

.top-margin-16{
	margin-top:16px;
}

/*
section.overview .slider .caption{display:none;}
*/
.container {
	/*
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-117px;
	margin-left:-486px;
	*/
}
.login{
	margin-top:22px;
}

.links{
	a{
		@include font-links(16px);
		line-height:30px;
		@include links-color;
	}
}

.social-media{
	margin-top:50px;
}

.admin, .admin-hover{
	@include border-radius(5px, 5px);
	background-color:#eee;
	border-style:solid;
	border-width:1px;
	border-color:#888;
	margin-bottom:6px;
	.content{
		margin:8px;
	}
	h4{
		@include font-header(20px);
		margin:8px 0px 8px 0px;
	}
	li{
		margin-top:8px;
	}
}

.admin-hover:hover{
	background-color:#dadada;
}

.thumbs-divider{
  margin-top:19px;
  min-height:1px;
}

.image{
	a{
		background-color:#fff;
	}
	img:hover{
	 @include opacity(0.85);
		background-color:#fff;
		color:#fff;
	}
}

.pagination{
	text-align:right;
	margin-top:0px;
	min-height:16px;	
	.current {
	    background-position: right center;
	    background-repeat: no-repeat;
	    padding-right: 1px;
			padding-left: 3px;
	    background-color:#ddd;
	}
}

.input .boolean{
	display:inline;
	margin-top:8px;
	margin-bottom:8px;
} 


.image-borders{
	border-style:solid;
	border-width:1px;
	border-color:#d8d8d8;	
}

.case_study_text{
	height:150px;
}

.case_study_info{
	p{
		@include font-plain(12px);
	} 
}